*{ 
  margin:0; 
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
/*agregar siempre outline: 1px solid white; para saber los bordes*/
div.inicio img{
	position: absolute;
   width: 100%;
   height: 100%;
}


.logo img{
	position: absolute;
	width: 70px;
	height: 50px;
	padding-left:100px;
	padding-top:50px;
}

ul{
 position: absolute;
  list-style: none;
  padding: 0;
  margin-left:700px;
  line-height: 120px;
}

li{
  display: inline-block;
  width: 100px;
  text-align:center;
}

button{
	color: white;
	font-size: 18px;
	line-height: 30px;
	height: 40px;
	width:90px;
	border-radius: 10%;
	background-color: #2D1D42;		
}
a{
	text-decoration: none;
	color: white;
	font-size: 22;	
	font-weight: bolder;
}

a:hover{	
color:#ff00bf;
}

.cuadro{
	display: inline-block;
	outline: 1px solid white;
	position: relative;
	height: 420px;
	width: 565px;
	background-color: white;
	margin-top: 120px;
	margin-left: 740px;
	text-align: left;

}
h1{
	position: absolute;
	color: #352384;
	font-size: 40px;
	font-weight: bolder;
	margin-top: 60px;
	margin-left: 60px;
}

p{
	display: inline-block;
	color:#352384;
	margin-top: 140px;
	margin-left: 60px;
	font-weight: normal;
}

.cuadro button{
	display: block;
	margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
	color: white;
	font-size: 18px;
	line-height: 30px;
	height: 50px;
	width:170px;
	border-radius: 10%;
	background-color: #FF00BF;
}

hr{
	margin-top: 60px;
	margin-left:60px;
	margin-right: 30px;
}

.parrafouno{
	color:#B6BDCA;
	margin-top: 20px;
	font-size: 13px;
	line-height: 20px;
	font-weight: lighter;
}

.purpura{
  width: 100%;
  height:700px;
  z-index: 1;
  background:linear-gradient(#76278F, #2B1E66)
}

.purpura img{
  position: absolute;
  width: 500px;
  height: 500px;
  margin-left:750px;
  margin-top:100px;
}



.cuadrodos{
	display: inline-block;
	position: absolute;
	height: 420px;
	width: 565px;
	margin-top: 80px;
	margin-left: 140px;
	text-align: left;
	color: #f3f3f5;
}

h2{
	font-size: 28px;
	line-height: 31px;
	margin-top: 48px;
}

h3{
	margin-top: 20px;
	font-size: 16px;
	font-weight: lighter;
	line-height: 24px;
}

.learn{
	width: 100%;
	height:600px;
}

.videouno {
    position: absolute;
    margin-left: 512px;
}

h4{
	display: inline-block;
	
	margin-left:100px;
	font-size: 28px;
}

h5{
	font-size: 16px;
    margin-top:50px;
	margin-left:100px;
}

.videodos {
    position: absolute;
    margin-top: 185px;
}

.watchdos{
	display: inline-block;
	position: relative;
	margin-top: 200px;
	margin-left: 750px;

}

.videotres {
    position: absolute;
    margin-left: 512px;
    margin-top: 150px;
}

.watchtres{
	margin-top: 230px;
}

footer{
	margin-top: 155px;
	height: 500px;
	width:100%;
	background-color: #333447;
}


footer div p{
	display:block;
	margin: 20px 10px;
	line-height: 28px;
	font-weight:lighter;
}

footer div{
	width: 20%;
	display: inline-block;
	margin-left: 70px;
	margin-top:50px;
}

.images{
	position: absolute;
	display:inline-block;

}

.imagenuno img{
	position: absolute;
	width: 130px;
	height: 60px;
	margin-top: -330px;
	margin-left: 60px;
}

.imagendos img{
	position: absolute;
	width: 130px;
	height: 50px;
	margin-top: -260px;
	margin-left:-66px;
}

.imagentres img{
	position: absolute;
	width: 130px;
	height: 50px;
	margin-top: -240px;
	margin-left:60px;
}

.iconos{
	z-index: 100px;

}
.icon-facebook2:before {
  content: "\e903";
  z-index: 100px;
}



